#title{
    background-color: #ff4c68;
    color:#fff
}
.container-fluid{
    padding:2% 10%;
}
body{
    font-family: "Montserrat";
}
h1{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    color: aqua;
}
.navbar{
    padding-bottom: 2rem;
}
.navbar-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.dwonload-button{
    margin:5% 3% 5% 0;

}
.title-img{
    width:60%;
    transform: rotate(25deg);
}
.features-box
{
text-align: center;
padding: 5%;
}
#features
{
    padding:7% 20%;
}
h2{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Bold";
}
p{
    color: cadetblue;
}
.icon
{
    
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}

/*testimonial section*/
#testimonials
{
    
    text-align: center;
    background-color: #ff4c68;
    color: aliceblue;
}
.testimonials-image
{
    width: 20%;
    margin: 10px;
    border-radius:100%;
}
.carousel-item{
    padding: 7% 15%;
}
#press
{
    
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;
}
.press-logo
{
    width: 20%;
    margin: 20px;
    
}
#pricing{
    padding: 7% 15%;
    text-align: center;
}
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-head{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}
#footer
{
    padding: 7% 15%;
    text-align: center;

}
.social-icon{
    color: #ef8172;
    margin-bottom: 10px 20px;
}


@media (max-width: 1025px) {
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0deg);
    }
}
 {
    
}